.active {
  background-color: wheat;
  border-radius: 10px;
}

body {
  background-color: #f8f9fa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
header {
  background-color: #212529;
}

.img-card {
  height: 500px;
}

.home {
  text-align: center;
  min-height: 900px;
  background-color: #e9ecef;
  background-image: url(./assets/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
