.active {
  border-bottom: 3px solid black;
}

body {
  background-color: #f8f9fa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
header {
  background-color: #212529;
}

.img-card {
  height: 500px;
}

.home {
  text-align: center;
  min-height: 800px;
  background-color: #e9ecef;
}
